/* ____ RESET ____ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ____ FINE RESET ____ */

/* ____ BACKGROUND ____ */
body {
  background-image: url(../img/background.png);
  background-repeat: repeat;
}
/* ____ FINE BACKGROUND ____ */

/* ____ CONTAINER ____ */
.container {
  width: 70%;
  margin: auto;
  padding: 20px;
}
/* ____ FINE CONTAINER ____ */

/* ____ HEADER ____ */
header .sfondo {
  position: relative;
  background-image: url(../img/bosco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 7px solid white;
  height: 300px;
}

header .sfondo .titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: arial;
}

header .sfondo #mountains {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}

 header .sfondo .titolo h1 {
  text-align: center;
  font-size: 55px;
  border: 4px solid white;
  letter-spacing: 8px;
}

header .sfondo .titolo h3 {
  position: relative;
  top: 45px;
}
/* ____ menu ____ */
header .menu {
  background:#504741;
  height: 50px;
}

header .menu .list {
  text-align: center;
  border: 1px solid grey;
}

header .menu .list li {
  display: inline-block;
  line-height: 4.5;
  list-style-type: none;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding: 0 15px;
}

header .menu .list li:hover {
  background-color: #312b27;
}
/* ____ fine menu ____ */
/* ____ FINE HEADER ____ */

/* ____ MAIN ____ */
main {
  margin: 10px 0 20px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* ____ colonne ____*/
main .col {
  float: left;
  background: white;
  border-radius: 5px;
  padding: 3px;
}

main .col-left {
width: 17%;
height: 350px;
}

main .col-center {
  width: 58%;
  height: 300px;
  margin: 0 4%;
}

main .col-right {
  width: 17%;
  background: none;
}
/* ____ fine colonne ____*/

/* ____ box__*/
main .col-right .box {
  height: 100px;
  background: white;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 3px;
}
/* ____ fine box ____*/

/* ____ FINE MAIN ____ */

/* ____ FOOTER ____ */
footer .social {
  background: white;
  border-radius: 5px;
  height: 50px;
  }
/* ____ FINE FOOTER ____ */
