/* ____ RESET ____ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
/* ____ FINE RESET ____ */

/* ____ BACKGROUND ____ */
body {
  background-image: url(../img/background.png);
  background-repeat: repeat;
}
/* ____ FINE BACKGROUND ____ */

/* ____ CONTAINER ____ */
.container {
  width: 70%;
  margin: auto;
  padding: 20px;
}
/* ____ FINE CONTAINER ____ */

/* ____ HEADER ____ */
header .sfondo {
  position: relative;
  background-image: url(../img/bosco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 7px solid white;
  height: 300px;
}

header .sfondo .titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

header .sfondo #mountains {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}

 header .sfondo .titolo h1 {
  text-align: center;
  font-size: 55px;
  border: 4px solid white;
  letter-spacing: 8px;
}

header .sfondo .titolo h1 a {
  text-decoration: none;
  color: white;
}

header .sfondo .titolo h3 {
  position: relative;
  top: 45px;
}
/* ____ menu ____ */
header .menu {
  background:#504741;
  height: 50px;
}

header .menu .list {
  text-align: center;
  border: 1px solid grey;
}

header .menu .list li {
  display: inline-block;
  line-height: 4.5;
  list-style-type: none;
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding: 0 15px;
}

header .menu .list li:hover {
  background-color: #312b27;
}
/* ____ fine menu ____ */
/* ____ FINE HEADER ____ */

/* ____ MAIN ____ */
main {
  margin: 10px 0 20px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* ____ colonne ____*/
main .col {
  float: left;
  background: white;
  border-radius: 5px;
}

main .col-left {
  padding: 8px;
}

main .col-center,
main .col-right .box {
  padding: 20px;
}

main .col h3{  font-weight: bold;
  color: white;
  color: #703a3a;
}

main .col-left {
  position: relative;
  width: 17%;
}

main .col-left .fa-align-left {
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border-radius: 2px;
  margin-bottom: 30px;
}

main .col-left h3 {
  position: absolute;
  left: 20%;
}

main .col-left li {
  list-style-type: none;
  padding: 6px 0;
}

main .col-left li a {
  text-decoration: none;
  color: orange;
}

main .col-left li a:hover {
  color: red;
}

main .col-center {
  width: 58%;
  margin: 0 4%;
}

main .col-center h3 {
  margin-bottom: 35px;
  text-shadow:1px 1px 1px;
}

main .col-center p,
main .col-right .box p {
 line-height: 1.7;
}

main .col-right {
  width: 17%;
  background: none;
}
/* ____ fine colonne ____*/

/* ____ box__*/
main .col-right .box {
  background: white;
  border-radius: 5px;
  margin-bottom: 30px;
}

main .col-right .box h3 {
  margin-bottom: 35px;
}
/* ____ fine box ____*/

/* ____ FINE MAIN ____ */

/* ____ FOOTER ____ */
footer .social {
  position: relative;
  background: white;
  border-radius: 5px;
  height: 120px;
  padding: 3px;
  }

footer .social p {
  font-style: italic;
  color: lightgrey;
  text-align: center;
}

footer .social .fab {
  color: lightgrey;
  font-size: 35px;
}

footer .social .icon ul {
  text-align: center;
}

footer .social .icon ul li {
  display: inline-block;
  line-height: 6.5;
  list-style-type: none;
  padding: 0 140px;
}

footer .social .icon ul li a {
  text-decoration: none;
}
footer .social .icon ul .fab:hover {
  color: grey;
}

.container .fa-arrow-circle-up {
  position: fixed;
  font-size: 50px;
  bottom: 50px;
  left: 50px;
  height: 62px;
  width: 100px;
  text-decoration: none;
}
/* ____ FINE FOOTER ____ */
